
DB_PATH = "db_name.db"

#Telegram configs
TELEGRAM_BOT_TOKEN = ""
TELEGRAM_CHAT_ID = ""

# Mail server configuration (replace with your actual info)
SMTP_SERVER = "smtp_server_address"  # Your SMTP server address
SMTP_PORT = Smtp_Port  # Port number

# Sender information
SENDER_EMAIL = "sender@email.com"
SENDER_PASSWORD = "sender_pass"

# Recipient information
RECEIVER_EMAIL = "receiver@email.com"

JOB_EMBED_MODEL = "prefered_hugging_face_job_model"
RERANK_MODEL = "prefered_hugging_face_rerank_model"
USE_RERANKER = True


SERPAPI_API_KEY = "<api_key>"

# Recency boosting
ENABLE_RECENCY_BOOST = True
MAX_RECENCY_BOOST = 0
RECENCY_HALF_LIFE_HOURS = 1.0

THRESHOLD = 0.1
TOP_K = 20